@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin icon {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}