@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    80%{
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }

    80%{
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottomUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    80%{
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}